<div class="idx-wrap asd-wrap">

    <div class="idx-bg asd-bg-crop asd-wrap"></div>
    <div class="idx-human_left idx-human asd-bg-fit asd-wrap"></div>
    <div class="idx-human_right idx-human asd-bg-fit asd-wrap"></div>

    <div class="idx-content asd-pos-center">
        <div class="idx-milk_label icon-milk_label b-button asd-bg-fit"></div>
        <div class="idx-title_bg asd-bg-fit"></div>
        <div class="idx-button_wrap">
            <div class="idx-button b-button_3 b-button asd-bg-fit asd-text-center b-hover">
                <em class="asd-bg-fit"></em><span>Смотреть сериал</span>
            </div>
        </div>
        <div class="idx-arrow b-button asd-bg-fit b-hover"></div>
    </div>

    <div class="b-phone_header_wrap asd-pos-top-center b-desktop_hidden b-tablet_hidden"><%= phone_header %></div>
    <div class="b-phone_footer_wrap asd-pos-bottom-center b-desktop_hidden b-tablet_hidden"><%= phone_footer %></div>

</div>


































