<div class="idx-wrap asd-wrap">

    <div class="asd-wrap">
        <div class="asd-text-center-1">
            <div class="asd-text-center-2">
                <div class="b-button asd-text-center" style="background-color: #007ad4;width: 150px;height: 150px;">
                    <em class="icon-soc_fb icon-base" style="font-size: 0.8em;"></em>
                </div>
                <div class="b-button asd-text-center" style="background-color: #244b94;width: 150px;height: 150px;">
                    <em class="icon-soc_vk icon-base" style="font-size: 0.6em;"></em>
                </div>
                <div class="b-button asd-text-center" style="background-color: #e86100;width: 150px;height: 150px;">
                    <em class="icon-soc_ok icon-base" style="font-size: 0.9em;"></em>
                </div>
            </div>
        </div>
    </div>


    <%= header %>
    <%= footer %>

</div>


































