	$s-soc_fb: 0px 0px 0px 0px 69px 107px 286px 107px 'sprite.png';
	$s-soc_ok: 79px 0px -79px 0px 75px 107px 286px 107px 'sprite.png';
	$s-soc_vk: 164px 0px -164px 0px 122px 107px 286px 107px 'sprite.png';
