/* =====================================================================
					            RESET
======================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins,
kbd, q, s, samp, small, strike, sub, sup, tt, var, dd, dl, dt, li, ol, ul, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  line-height: 1;
  font-family: inherit;
  text-align: left;
  vertical-align: baseline;
  font-weight: normal;
  text-decoration: none;
  outline: none; }

a img, :link img, :visited img {
  border: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

ol, ul {
  list-style: none; }

q:before, q:after, blockquote:before, blockquote:after {
  content: ""; }

input {
  outline: none; }

sup {
  color: inherit;
  font: inherit;
  font-size: 0.6em;
  vertical-align: top; }

/*********************************************************************************************************************
*
*                                               ASD FRAMEWORK
*
**********************************************************************************************************************/
.asd-clear {
  clear: both;
  height: 0px;
  font-size: 0px; }

.asd-wrap {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 0;
  overflow: hidden; }

.asd-wrap-2 {
  position: absolute;
  display: block;
  width: auto;
  height: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: 0;
  overflow: hidden; }

.asd-left {
  float: left; }

.asd-right {
  float: right; }

/****************************** IMAGE ******************************/
.asd-img {
  display: block;
  width: auto;
  height: auto; }

.asd-img-fit {
  position: absolute;
  display: block;
  max-width: 100%;
  max-height: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto; }

.asd-img-width {
  display: block;
  width: 100%;
  height: auto; }

.asd-img-height {
  display: block;
  width: auto;
  height: 100%; }

.asd-img-crop-wrap {
  display: block;
  position: absolute;
  left: -450%;
  top: -450%;
  width: 1000%;
  height: 1000%; }

.asd-img-crop {
  display: block;
  position: absolute;
  min-width: 10%;
  min-height: 10%;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto; }

.asd-bg-fit {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center; }

.asd-bg-crop {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }

/******************************* TEXT ******************************/
/* inline blocks */
.asd-text-center {
  white-space: nowrap;
  text-align: center; }

.asd-text-center:before {
  position: relative;
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%; }

.asd-text-center > * {
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
  text-align: center;
  font: inherit;
  line-height: inherit; }

/* tables */
.asd-text-center-1 {
  display: table;
  width: 100%;
  height: 100%;
  font: inherit;
  position: relative; }

.asd-text-center-2 {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  font: inherit;
  position: relative; }

/***************************** POSITION ****************************/
.asd-pos-center {
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 0; }

.asd-pos-top-center {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 0; }

.asd-pos-bottom-center {
  position: absolute;
  display: block;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 0; }

.asd-pos-left-top {
  position: absolute;
  left: 0;
  top: 0; }

.asd-pos-right-top {
  position: absolute;
  right: 0;
  top: 0; }

.asd-pos-left-bottom {
  position: absolute;
  left: 0;
  bottom: 0; }

.asd-pos-right-bottom {
  position: absolute;
  right: 0;
  bottom: 0; }

/*************************** INLINE BLOCKS ****************************/
.asd-inline-wrap {
  white-space: nowrap;
  text-align: center; }

.asd-inline-block {
  display: inline-block;
  vertical-align: middle;
  white-space: normal; }

/* =====================================================================
					            FONTS
======================================================================== */
/*@font-face {
    font-family: 'happy';
    src: url('/fonts/happyfox-condensed-webfont.eot');
    src: url('/fonts/happyfox-condensed-webfont.eot?#iefix') format('embedded-opentype'),
    url('/fonts/happyfox-condensed-webfont.woff2') format('woff2'),
    url('/fonts/happyfox-condensed-webfont.woff') format('woff'),
    url('/fonts/happyfox-condensed-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}*/
/************* em to px ******************/
/**************** sprites ****************/
.icon-gallery_arrow {
  width: 4.4em;
  height: 5.5em;
  background-position: 0em 0em;
  background-repeat: no-repeat;
  background-image: url("../img/common/sprite.png");
  background-size: 39.4em auto; }

.icon-gallery_arrow_right {
  width: 4.4em;
  height: 5.5em;
  background-position: -5.4em -6.5em;
  background-repeat: no-repeat;
  background-image: url("../img/common/sprite.png");
  background-size: 39.4em auto; }

.icon-soc_fb {
  width: 6.9em;
  height: 10.7em;
  background-position: -10.8em -13em;
  background-repeat: no-repeat;
  background-image: url("../img/common/sprite.png");
  background-size: 39.4em auto; }

.icon-soc_ok {
  width: 7.5em;
  height: 10.7em;
  background-position: -18.7em -24.7em;
  background-repeat: no-repeat;
  background-image: url("../img/common/sprite.png");
  background-size: 39.4em auto; }

.icon-soc_vk {
  width: 12.2em;
  height: 10.7em;
  background-position: -27.2em -36.4em;
  background-repeat: no-repeat;
  background-image: url("../img/common/sprite.png");
  background-size: 39.4em auto; }

/* =====================================================================
					        MAIN STYLE
======================================================================== */
html, body {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden; }

input, textarea {
  color: #000000;
  outline: none;
  font-family: Arial, sans-serif;
  font-weight: normal; }

a, span {
  font: inherit;
  color: inherit;
  outline: none; }

textarea {
  overflow: auto;
  resize: none; }

body {
  font-family: Arial, sans-serif;
  font-weight: normal;
  background: #ffffff;
  color: #000000; }

a {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

.b-simple_link {
  text-decoration: underline; }

.b-simple_link:hover {
  text-decoration: none; }

.b-simple_link2:hover {
  text-decoration: underline; }

/****************************************************************** COMMON ********************************************************************************/
/* desktop / mobile / tablet / phone */
.b-desktop_only {
  display: none; }

.b-mobile_only {
  display: none; }

.b-tablet_only {
  display: none; }

.b-phone_only {
  display: none; }

/* lansdcape panel for mobile devices */
/*.b-mobile_rotate { display: none; background: #111723; }
.b-mobile_rotate_bg { background-image: url(/img/mobile/mob_hor.jpg); }
.b-mobile_rotate_in { height: 58em; text-align: center; bottom: 10em; }
.b-mobile_rotate_in * { text-align: center; }
.b-mobile_rotate_img { font-size: 1.8em; }
.b-mobile_rotate_text { font-size: 12em; line-height: 1.2; margin-top: 1em; }*/
/* hovers */
.b-hover {
  cursor: pointer; }

/* buttons */
.b-button {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  -webkit-transition: background 300ms ease-out, color 300ms ease-out, box-shadow 300ms ease-out;
  transition: background 300ms ease-out, color 300ms ease-out, box-shadow 300ms ease-out;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.b-button span {
  color: inherit;
  text-align: center;
  position: relative;
  line-height: 1;
  display: inline-block;
  vertical-align: middle; }

.b-button em {
  display: inline-block;
  vertical-align: middle;
  position: relative; }

.b-button.b-button_disabled {
  cursor: auto !important;
  pointer-events: none; }

/* inputs */
.b-input_wrap {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 100%;
  height: 100%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0; }

.b-input {
  height: 100%;
  width: 100%;
  color: #000000;
  padding: 0.8em 1em;
  font-size: 1.5em;
  background: white;
  border: 1px solid #d0d0d0;
  border-radius: 0.2em;
  position: relative;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.b-input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.5); }

.b-input::-moz-placeholder {
  color: rgba(0, 0, 0, 0.5); }

.b-input:focus::-webkit-input-placeholder {
  color: transparent; }

.b-input:focus::-moz-placeholder {
  color: transparent; }

.b-input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 100px white inset;
  -webkit-text-fill-color: #000000 !important; }

.b-input_error {
  color: #f3330c; }

.b-input_error::-webkit-input-placeholder {
  color: #f3330c; }

.b-input_error::-moz-placeholder {
  color: #f3330c; }

.b-input_error:focus::-webkit-input-placeholder {
  color: transparent; }

.b-input_error:focus::-moz-placeholder {
  color: transparent; }

.b-input_file {
  opacity: 0;
  cursor: pointer; }

/* checkbox / radio */
.b-checkbox_wrap {
  display: inline-block;
  vertical-align: top;
  position: relative; }

.b-checkbox {
  position: absolute;
  opacity: 0;
  filter: alpha(opacity=0);
  width: 2em;
  height: 2em;
  left: 0;
  top: 0;
  cursor: pointer;
  margin: 0; }

.b-checkbox + label {
  position: relative;
  cursor: pointer;
  display: block; }

.b-checkbox + label > span {
  padding: 0 0 0 2.5em;
  white-space: normal;
  display: inline-block;
  vertical-align: top;
  font-size: 1.8em;
  line-height: 1.1;
  width: auto;
  text-align: left; }

.b-checkbox + label > span .b-simple_link {
  color: #00aeef; }

.b-checkbox + label > em {
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  width: 2em;
  height: 1.8em;
  background: transparent;
  border: 1px solid #000000; }

.b-checkbox:checked + label > em:before {
  position: absolute;
  display: block;
  content: '';
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 1em;
  height: 0.9em;
  margin: auto;
  background: #000000; }

.b-input_error .b-checkbox + label > em {
  border-color: #d60422; }

.error-msg {
  color: #d60422;
  font-size: 1.2em;
  font-family: Tahoma, sans-serif;
  text-align: left !important;
  margin-top: 0.3em; }

/* selectbox */
.selectbox {
  width: 100%;
  height: 5em;
  cursor: pointer; }

.selectbox .select {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background: white;
  border-radius: 30em;
  position: relative;
  float: none !important;
  padding: 0; }

.selectbox .trigger {
  position: absolute;
  display: inline-block;
  vertical-align: middle;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 1em;
  width: 4em;
  height: 4em; }

.selectbox .text {
  font-size: 2em;
  display: inline-block;
  vertical-align: middle;
  padding: 0.8em 0 0; }

.selectbox .arrow {
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  /*background: url(/img/common/arrow.png) center center no-repeat; background-size: contain;*/
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg); }

.selectbox.active .arrow {
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg); }

.selectbox .dropdown {
  width: 100%;
  left: 0;
  top: 100%;
  height: 36.5em !important;
  box-sizing: border-box;
  margin-top: -5em;
  z-index: 0 !important;
  border-radius: 3em;
  background: white;
  padding: 5em 1em 1em 0; }

.selectbox .dropdown ul {
  display: block;
  position: relative;
  height: 100%; }

.selectbox .dropdown li {
  display: block;
  padding: 0.8em 0.5em;
  font-size: 2em; }

.selectbox .dropdown li:first-child {
  border: none; }

.selectbox .dropdown li:hover {
  background: rgba(0, 0, 0, 0.05); }

/* scroll block */
.b-scroll_x {
  position: relative;
  height: 100%;
  overflow-y: hidden;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch; }

.b-scroll_y {
  position: relative;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch; }

.b-scroll_in {
  position: relative;
  overflow: hidden; }

/* socials */
.b-social {
  display: inline-block;
  position: relative;
  width: 2.5em;
  height: 2.5em;
  border-radius: 30em; }

.b-social em {
  width: 2em;
  height: 1.3em; }

.b-social.b-social_fb {
  background: #355496; }

.b-social.b-social_vk {
  background: #5678a0; }

.b-social.b-social_ok {
  background: #ff9802; }

.b-social.b-social_fb em {
  background-image: url(../img/common/soc_fb.png); }

.b-social.b-social_vk em {
  background-image: url(../img/common/soc_vk.png);
  width: 1.5em;
  margin-bottom: 0.1em; }

.b-social.b-social_ok em {
  background-image: url(../img/common/soc_ok.png);
  height: 1.4em; }

/* error content */
.b-error_text {
  font-size: 3.5em;
  text-align: center;
  color: #ffffff; }

/* preloader */
.b-preloader_bg {
  background: #ffffff; }

/* pages common */
.b-popup_content {
  background: white;
  color: #49468d;
  width: 119em;
  margin: auto;
  position: relative;
  box-sizing: border-box; }

.b-popup_close {
  position: absolute;
  right: 0;
  top: 0;
  width: 8em;
  height: 8em;
  /*background-image: url(/img/common/popup_close.png); opacity: 0.8;*/ }

.b-popup_overlay {
  background: #075a98;
  opacity: 0.79; }

.b-page_wrap_in {
  overflow: visible; }

.b-content_width {
  width: 120em;
  position: relative;
  margin: auto; }

.b-content_height {
  height: 58em; }

.b-width_100 {
  width: 100vw; }

.b-title {
  line-height: 1.1;
  text-align: center; }

.b-subtitle {
  font-size: 3em;
  line-height: 1.4; }

.b-error {
  font-size: 2.8em;
  line-height: 1.4;
  margin-top: 1em;
  color: #000000; }

/************************************************ HEADER / FOOTER *************************************************/
/*************************************************** CONTENT *******************************************************/
/* small popup */
.b-small_popup {
  position: fixed; }

.b-small_popup_overlay {
  background: rgba(0, 0, 0, 0.42); }

.b-small_popup_content {
  background: white;
  border-radius: 1.5em; }

.b-small_popup_content_bg {
  background: url(../img/common/main-bg.png) center top repeat;
  border-radius: 1.5em;
  opacity: 0.4; }

.b-small_popup_content_in {
  padding: 0 7em 0;
  text-align: center; }

.b-small_popup_content_in * {
  text-align: center; }

.b-small_popup_close {
  right: 2em;
  top: 2em;
  background-image: url(../img/common/small_popup_close.png);
  width: 4em;
  height: 4em;
  position: absolute; }

.b-small_popup_title {
  font-size: 2.8em;
  margin-bottom: 0.8em; }

.b-small_popup_text {
  font-size: 1.7em;
  margin-top: 1em;
  line-height: 1.3; }

.b-small_popup_descr {
  font-size: 1.7em;
  text-transform: uppercase;
  line-height: 1.2;
  margin-top: 1em; }

.b-message_popup_content {
  width: 42em;
  height: 35em; }

.b-message_popup_content_in {
  padding: 0 4em; }

.b-message_popup_title {
  margin-bottom: 0.5em; }

.b-message_popup_text {
  margin: 1em 0 3em; }

.b-message_popup_button {
  margin-top: 5em;
  position: absolute;
  bottom: 5em; }

/************************************** ONLY FOR DESKTOPS ***************************************/
.html-desktop {
  overflow: hidden;
  /* common */
  /* hovers */
  /* hover slides */
  /* hover border */ }
  .html-desktop body {
    overflow: hidden; }
  .html-desktop .b-desktop_only {
    display: block; }
  .html-desktop .b-desktop_hidden {
    display: none !important; }
  .html-desktop .b-hover_slide {
    -webkit-transition: left 300ms ease-out, top 300ms ease-out, opacity 300ms ease-out;
    transition: left 300ms ease-out, top 300ms ease-out, opacity 300ms ease-out;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden; }
  .html-desktop .b-hover_slides_top.b-hover:hover .b-hover_slide_1 {
    top: -100%; }
  .html-desktop .b-hover_slides_top.b-hover:hover .b-hover_slide_2 {
    top: 0; }
  .html-desktop .b-hover_slides_bottom.b-hover:hover .b-hover_slide_1 {
    top: 100%; }
  .html-desktop .b-hover_slides_bottom.b-hover:hover .b-hover_slide_2 {
    top: 0; }
  .html-desktop .b-hover_slides_left.b-hover:hover .b-hover_slide_1 {
    left: -100%; }
  .html-desktop .b-hover_slides_left.b-hover:hover .b-hover_slide_2 {
    left: 0; }
  .html-desktop .b-hover_slides_right.b-hover:hover .b-hover_slide_1 {
    left: 100%; }
  .html-desktop .b-hover_slides_right.b-hover:hover .b-hover_slide_2 {
    left: 0; }
  .html-desktop .b-hover_slides_opacity.b-hover:hover .b-hover_slide_1 {
    /*opacity: 0;*/ }
  .html-desktop .b-hover_slides_opacity.b-hover:hover .b-hover_slide_2 {
    opacity: 1; }
  .html-desktop .b-hover_border {
    -webkit-transition: border 200ms ease-out;
    transition: border 200ms ease-out; }

/**********************************************************************************************************

                                                ALL MOBILES

**********************************************************************************************************/
.html-mobile {
  /* common */
  /* ---------- portrait ---------*/
  /* ---------- landscape ---------*/ }
  .html-mobile * {
    max-height: 1000000px;
    -webkit-text-size-adjust: 100%; }
  .html-mobile .b-mobile_only {
    display: block; }
  .html-mobile .b-mobile_hidden {
    display: none !important; }
  .html-mobile.html-portrait .b-mobile_portrait_hidden {
    display: none !important; }
  .html-mobile.html-landscape .b-mobile_landscape_hidden {
    display: none !important; }

/**********************************************************************************************************

                                                PHONES

**********************************************************************************************************/
.html-phone {
  /* common */
  /* ---------- portrait ---------*/
  /* ---------- landscape ---------*/ }
  .html-phone .b-phone_only {
    display: block; }
  .html-phone .b-phone_hidden {
    display: none !important; }
  .html-phone.html-portrait .b-phone_portrait_hidden {
    display: none !important; }
  .html-phone.html-landscape .b-phone_landscape_hidden {
    display: none !important; }

/**********************************************************************************************************

                                                TABLETS

**********************************************************************************************************/
.html-tablet {
  /* common */
  /* ---------- portrait ---------*/
  /* ---------- landscape ---------*/ }
  .html-tablet .b-tablet_only {
    display: block; }
  .html-tablet .b-tablet_hidden {
    display: none !important; }
  .html-tablet.html-portrait .b-tablet_portrait_hidden {
    display: none !important; }
  .html-tablet.html-landscape .b-tablet_landscape_hidden {
    display: none !important; }
