/**********************************************************************************************************

                                                PHONES

**********************************************************************************************************/
.html-phone {
  /* common */
  /* ---------- portrait ---------*/
  /* ---------- landscape ---------*/
}
.html-phone .b-phone_only {
  display: block;
}
.html-phone .b-phone_hidden {
  display: none !important;
}
.html-phone.html-portrait .b-phone_portrait_hidden {
  display: none !important;
}
.html-phone.html-landscape .b-phone_landscape_hidden {
  display: none !important;
}
