/************************************** ONLY FOR DESKTOPS ***************************************/
.html-desktop {
  overflow: hidden;
  /* common */
  /* hovers */
  /* hover slides */
  /* hover border */
}
.html-desktop body {
  overflow: hidden;
}
.html-desktop .b-desktop_only {
  display: block;
}
.html-desktop .b-desktop_hidden {
  display: none !important;
}
.html-desktop .b-hover_slide {
  -webkit-transition: left 300ms ease-out, top 300ms ease-out, opacity 300ms ease-out;
  transition: left 300ms ease-out, top 300ms ease-out, opacity 300ms ease-out;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
.html-desktop .b-hover_slides_top.b-hover:hover .b-hover_slide_1 {
  top: -100%;
}
.html-desktop .b-hover_slides_top.b-hover:hover .b-hover_slide_2 {
  top: 0;
}
.html-desktop .b-hover_slides_bottom.b-hover:hover .b-hover_slide_1 {
  top: 100%;
}
.html-desktop .b-hover_slides_bottom.b-hover:hover .b-hover_slide_2 {
  top: 0;
}
.html-desktop .b-hover_slides_left.b-hover:hover .b-hover_slide_1 {
  left: -100%;
}
.html-desktop .b-hover_slides_left.b-hover:hover .b-hover_slide_2 {
  left: 0;
}
.html-desktop .b-hover_slides_right.b-hover:hover .b-hover_slide_1 {
  left: 100%;
}
.html-desktop .b-hover_slides_right.b-hover:hover .b-hover_slide_2 {
  left: 0;
}
.html-desktop .b-hover_slides_opacity.b-hover:hover .b-hover_slide_1 {
  /*opacity: 0;*/
}
.html-desktop .b-hover_slides_opacity.b-hover:hover .b-hover_slide_2 {
  opacity: 1;
}
.html-desktop .b-hover_border {
  -webkit-transition: border 200ms ease-out;
  transition: border 200ms ease-out;
}
