/**********************************************************************************************************

                                                ALL MOBILES

**********************************************************************************************************/
.html-mobile {
  /* common */
  /* ---------- portrait ---------*/
  /* ---------- landscape ---------*/
}
.html-mobile * {
  max-height: 1000000px;
  -webkit-text-size-adjust: 100%;
}
.html-mobile .b-mobile_only {
  display: block;
}
.html-mobile .b-mobile_hidden {
  display: none !important;
}
.html-mobile.html-portrait .b-mobile_portrait_hidden {
  display: none !important;
}
.html-mobile.html-landscape .b-mobile_landscape_hidden {
  display: none !important;
}
