/**********************************************************************************************************

                                                PHONES

**********************************************************************************************************/

.html-phone {

    /* common */
    .b-phone_only { display: block; }
    .b-phone_hidden { display: none !important; }
















    /* ---------- portrait ---------*/
    &.html-portrait {


        .b-phone_portrait_hidden { display: none !important; }


    }

















    /* ---------- landscape ---------*/
    &.html-landscape {


        .b-phone_landscape_hidden { display: none !important; }


    }

}

























